<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <title>Employee List</title>
    <a href="/employee" class="btn btn-secondary"><i class="fa fa-plus"></i>Create New</a>
</head>
<body class="container bg-info">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>City</th>
                <th>Postcode</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            <% list.forEach(function(data) {%>
            <tr>                
                <td><img src="#" alt="img"><%= data.fullname%></td>
                <td><%= data.email%></td>
                <td><%= data.mobile%></td>
                <td><%= data.city%></td>
                <td><%= data.postcode%></td>    
                <td>
                    <a href="/employee/<%= list._id%>"><i class="fas fa-edit fa-lg" aria-hidden="true"></i></a>
                    <a href="/employee/delete/<%= list._id%>" ><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                </td>           
            </tr>
            <%});%>
        </tbody>
    </table>
</body>
</html>